//Movie.tsx
.movie-card {
    position: relative; //allows absolute position for its children
    margin-right: 20px;
    transition: transform 0.3s ease; // for enlargement 
    width: 400px; //movie image width, to follow preview
    // height: 229px;
    // overflow: hidden; //To ensure anything beyond the boundaries isn't visible 

    .movie-title {
        position: absolute; //position bottom left within movie card
        bottom: 5px;
        left: 5px;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); // Shadow for readability
        z-index: 2; // ensure title appears above other elements on movie card

    }


    &:hover .movie-title {
        opacity: 0; // hidden when the movie-card is hovered
    }



    &:hover {
        transform: scale(1.1); // Enlarge the movie poster a bit on hover
        z-index: 3;
        //todo: for movies on edges (scale to the left or right, so it won't get cut off)
        // transform-origin: center left; //  scales to the right

    }

    .movie-poster {
        // height: 100%;
        width: 100%;
        // transition: transform 0.3s ease;

    }

    // preview on hover
    .movie-preview {
        position: absolute; // Overlay
        top: 100%; // display below the poster
        left: 0;
        margin-top: -4px;


        width: 100%;
        // background-color: rgba(0, 0, 0, 0.7);
        background-color: black;
        color: white; //text
        padding: 10px;
        box-sizing: border-box;
        // display: none; // initially hide preview

        transition: height 0.3s ease;
        // opacity: 0;
        visibility: hidden; // hide the element & ignore user interaction
        z-index: 5;

        h3 {
            margin-top: 0;
        }

        //paragraph content in the preview
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

        }
    }

    // displays preview when .movie-card is hovered
    &:hover .movie-preview {
        // display: block; //show preview when hovered
        // opacity: 1;
        visibility: visible; // unhid when hovered
    }

    .no-image-placeholder {
        height: 225px; //16:9 aspect ratio
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e0e0e0;
    }
}


//movie list component
.movie-list-wrapper {
    display: flex;
    align-items: center; //vertically align movies
    position: relative; //relative positioning so absolute children are relative to this
    // height: 270px;


    &:hover .scroll-button {
        opacity: 1; //set scroll button to be visible when hovered

    }

    .scroll-button {
        opacity: 0; //scroll button invisible
        transition: opacity 0.3s ease-in-out;


        position: absolute; //position based .movie-list-wrapper
        top: 50%;
        transform: translateY(-50%); // mid
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        z-index: 4;
        margin: 0 16px; //space between the buttons and the movies container

        // slider button hover effect
        &:hover {
            transform: translateY(-50%) scale(1.9); //makes the button 90% larger when hovered
        }

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }


    .movies-container {
        display: flex; //align .movie-card in flex. default row
        //horizontal scrolling when the movies exceed the container's width 
        overflow-x: auto; // (clips children like .movie-card)
        padding: 20px 0px 20px 30px;
        scroll-behavior: smooth;
        // flex-grow: 1; //container to takes up all available horizontal space
        // height: 270px;

        padding-bottom: 120px; // adjusted padding to allow for overlap without pushing content of preview
        margin-bottom: -120px; // counteracts the added padding

        // Hides scrollbar for Firefox
        scrollbar-width: none;
        // For Edge
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none; // Webkit browsers like Chrome and Safari to hide scrollbar
        }


    }
}

//movie grid component
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); // auto fill w 350px wide minimum

    gap: 16px; // todo: add space horizontally
    padding: 20px;
}