//Movie.tsx
.movie-card {
    position: relative; //allows absolute position for its children
    margin-right: 20px;
    transition: transform 0.3s ease; // for enlargement 
    width: 400px; //movie image width, to follow preview
    // height: 229px;

    .movie-title {
        position: absolute; //position bottom left within movie card
        bottom: 5px;
        left: 5px;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); // Shadow for readability
        z-index: 2; // ensure title appears above other elements on movie card

    }


    &:hover .movie-title {
        opacity: 0; // hidden when the movie-card is hovered
    }



    &:hover {
        transform: scale(1.1); // Enlarge the movie poster a bit on hover
        z-index: 3;
        //todo: for movies on edges (scale to the left or right, so it won't get cut off)
        // transform-origin: center left; //  scales to the right

    }

    &.active {
        transform: scale(1.1);
        z-index: 3;
    }

    .movie-poster {
        // height: 100%;
        width: 100%;
        // transition: transform 0.3s ease;
        border-radius: 8px;
        // border-radius: 8px 8px 0px 0px; //top to match preview's bottom border

    }

    // preview on hover
    .movie-preview {
        position: absolute; // Overlay
        top: 100%; // display below the poster
        left: 0;
        margin-top: -4px;


        width: 100%;
        // background-color: rgba(0, 0, 0, 0.7);
        background-color: black;
        color: white; //text
        padding: 10px;
        box-sizing: border-box;
        border-radius: 0 0 8px 8px; // match the border-radius of the image
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); //shadow


        transition: height 0.3s ease;

        visibility: hidden; // hide the element & ignore user interaction
        // display: none; // initially hide preview
        // opacity: 0;
        z-index: 5;

        &.active {
            visibility: visible;
        }

        h3 {
            margin-top: 0;
        }

        //paragraph content in the preview
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; //only 3 lines
            -webkit-box-orient: vertical;
            color: #ccc;

        }

        .other-details {
            display: flex;

            span {
                color: #ccc;
                margin-left: 16px;
                // margin-top: 4px;
                margin-top: 5px;

            }
        }


    }

    .movie-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .movie-menu {
            &:hover {
                transform: scale(1.1);
            }


        }
    }




    // displays preview when .movie-card is hovered
    &:hover {
        .movie-preview {
            // display: block; //show preview when hovered
            // opacity: 1;
            visibility: visible; // unhid when hovered
        }

        //bottom border to match preview's top border
        .movie-poster {
            border-radius: 8px 8px 0px 0px;
        }
    }

    .no-image-placeholder {
        height: 225px; //16:9 aspect ratio
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e0e0e0;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #d0d0d0;
        }
    }
}


//movie list component
.movie-list-wrapper {
    display: flex;
    align-items: center; //vertically align movies
    position: relative; //relative positioning so absolute children are relative to this
    // height: 270px;


    &:hover .scroll-button {
        opacity: 1; //set scroll button to be visible when hovered

    }

    .scroll-button {
        opacity: 0; //scroll button invisible
        transition: opacity 0.3s ease-in-out;


        position: absolute; //position based .movie-list-wrapper
        top: 50%;
        transform: translateY(-50%); // mid
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        z-index: 4;
        margin: 0 16px; //space between the buttons and the movies container

        // slider button hover effect
        &:hover {
            transform: translateY(-50%) scale(1.9); //makes the button 90% larger when hovered
        }

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }


    .movies-container {
        display: flex; //align .movie-card in flex. default row
        //horizontal scrolling when the movies exceed the container's width 
        overflow-x: auto; // (clips children like .movie-card)
        padding: 20px 0px 20px 30px;
        scroll-behavior: smooth;
        // flex-grow: 1; //container to takes up all available horizontal space
        // height: 270px;

        // padding-bottom: 120px; // adjusted padding to allow for overlap without pushing content of preview
        // margin-bottom: -120px; // counteracts the added padding


        padding-bottom: 170px; // adjusted padding to allow for overlap without pushing content of preview
        margin-bottom: -170px; // counteracts the added padding


        // Hides scrollbar for Firefox
        scrollbar-width: none;
        // For Edge
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none; // Webkit browsers like Chrome and Safari to hide scrollbar
        }


    }
}

//movie grid component
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); // auto fill w 350px wide minimum

    gap: 16px; // todo: add space horizontally
    padding: 20px;
}



//movie profile
.profile-movie {
    display: flex;
    border-bottom: 1px solid #444;
    // padding: 10px 0;
    // align-items: center;
    margin-bottom: 10px;
    // padding: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    width: 1200px;
    // &:last-child {
    //     border-bottom: none;
    // }

    .image-container {
        flex: 1;
        margin-right: 20px;
        margin-bottom: -4px;

        img {
            max-width: 150px;
            // max-height: 150px;
            border-radius: 6px 0px 0px 6px; //left-top & bottom
            box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
        }
    }

    .details-container {
        flex: 2;

        h3 {
            margin-top: 10px;
            font-size: 1.5em;
            margin-bottom: 5px;
            color: #ffffff;
        }

        p,
        span {
            // margin-top: 5px;
            color: #e4e4e4;
        }
    }
}