* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // ensures padding and borders don't add extra width/height

  // border: 1px solid red; // TEST to temporarily add a border to all elements to see their boundaries


}